* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/**************************************************************** General ****************************************************************/

/************************** Title h1 **************************/
h1 {
    width: 100%;
    padding: 0.3em;
    color: #eea154;
    font-size: 3em;
}

/**************************************************************** View : Layout ****************************************************************/
.wrapper {
    width: 100%;
}

.mainpage {
    width: 100%;
}

/************************** Header **************************/
header {
    background-color: #eea154;
    width: 100%;
    padding: 1.3em;
    display: flex;
    flex-direction: row;
    gap: 2em;
}

.logo {
    width: 10%;
    padding: 0.3em;
}

.logo img {
    width: 30%;
}

nav {
    width: 50%;
    padding: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 1.5em;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1.4em;
    font-weight: 300;
}

nav a:hover {
    transform: scale(1.2);

}

.search_bar {
    width: 20%;
    padding: 0.3em;
    display: flex;
    align-items: center;
    justify-content: left;
    position: relative;
}

.search {
    background-color: #FFF5EE;
    width: 60%;
    height: 2em;
    color: #333;
    font-weight: 600;
    border: 0.4em solid #FFF5EE;
    border-radius: 3%;
}

.search_btn {
    background-color: #FFF5EE;
    width: 2em;
    height: 2em;
    border: 0.2em solid #FFF5EE;
    border-radius: 7%;
    position: absolute;
    left: 13em;
}

.connexionButtons {
    width: 20%;
    padding: 0.3em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

/**** connexion buttons ****/
.layoutBtn {
    background-color: #FFF5EE;
    width: 8em;
    height: 2.5em;
    border: 0.2em solid #FFF5EE;
    border-radius: 15%;
}

.layoutBtn a {
    text-decoration: none;
    color: #333;
    font-size: 1.1em;
    font-weight: 600;
}

.layoutBtn:hover {
    transform: scale(1.2);
}

/************************** Main **************************/

main {
    background-color: #FFF5EE;
    width: 100%;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

/************************** Footer **************************/

footer {
    background-color: #eea154;
    width: 100%;
    padding: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.logo {
    width: 20%;
}

.legal {
    width: 60%;
    padding: 0.3em;
    color: #fff;
}

.legal p a {
    color: #fff;
    text-decoration: none;
}

.connexionButtonsFooter {
    width: 20%;
    padding: 0.3em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

/**************************************************************** View : Home ****************************************************************/
.hero {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.hero p {
    width: 60%;
    padding: 0 1em;
    color: #000;
    font-size: 1.2em;
}

.heroButtons {
    width: 20%;
    padding: 0.6em 3em;
    display: flex;
    gap: 2em;
}

.mainBtn {
    background-color: #eea154;
    width: 9em;
    height: 2.5em;
    border: 0.2em solid #FFF5EE;
    border-radius: 15%;
}

.mainBtn a {
    text-decoration: none;
    color: #fff;
    font-size: 1.1em;
    font-weight: 600;
}

.mainBtn:hover {
    transform: scale(1.2);
}

.recentTopic {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.7em;
}

.recentTopic h2 {
    font-size: 2em;
    text-decoration: underline #eea154;
}

.topic {
    width: 100%;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topic img {
    width: 50%;
    border: 0.2em solid #FFF5EE;
    border-radius: 5%;
}

.topic article {
    width: 100%;
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

article h3 {
    font-size: 2em;
}

.justify {
    width: 80%;
    line-height: 1.6em;
    text-justify: auto;
}

.topic a {
    text-decoration: none;
    color: #000;
    font-weight: 700;
}

.topic a:hover {
    color: #eea154;
    transition-duration: 0.4s;
}


/**************************************************************** View : listCategries ****************************************************************/
.wrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.listCategories {
    width: 30%;
    padding: 1em;
}

.listCategories a {
    text-decoration: none;
    color: #000;
    line-height: 2em;
    font-weight: 600;
}

.listCategories a:hover {
    color: #eea154;
    transition: 0.4s;
}

.addCategory {
    width: 100%;
    padding: 1em;
}

.addCategory h2 {
    width: 100%;
    padding: 0 0 0.5em 0;
}

/**** connexion buttons ****/
.mainBtn {
    background-color: #eea154;
    width: 9em;
    height: 3em;
    border: 0.2em solid #FFF5EE;
    border-radius: 15%;
}

.mainBtn a {
    text-decoration: none;
    color: #fff;
    font-size: 1.1em;
    font-weight: 600;
}

.mainBtn:hover {
    transform: scale(1.2);
}

/**************************************************************** View : addCategory ****************************************************************/

.wrapper {
    width: 100%;
    padding: 1.5em;
}

.form {
    width: 100%;
    padding: 1em 0;
    font-size: 2em;
    font-weight: 600;
    text-decoration: underline #eea154;
}

.addCategoryForm {
    width: 100%;
    padding: 0 3em;
}

.addCategory {
    width: 40%;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
}

/**** connexion buttons ****/
.formBtn {
    background-color: #eea154;
    width: 9em;
    height: 2.5em;
    border: 0.2em solid #FFF5EE;
    border-radius: 15%;
    text-decoration: none;
    color: #fff;
    font-size: 1.1em;
    font-weight: 600;
}

.formBtn:hover {
    transform: scale(1.2);
    cursor: pointer;
}

/**************************************************************** View : listTopics ****************************************************************/

.listTopics {
    width: 100%;
    padding: 1em;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 3em;
}

.topicCard {
    width: 80%;
    padding: 1em;
    border: 0.2em solid #eea154;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.topicCard h2 a {
    text-decoration: underline #eea154;
    color: #000;
    font-size: 1.3;
    font-weight: 600;
}

.topicCard a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
}

.topicCard a:hover {
    color: #eea154;
}

.addTopicBtn {
    background-color: #eea154;
    width: 9em;
    height: 3em;
    border: 0.2em solid #FFF5EE;
    border-radius: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addTopicBtn:hover {
    transform: scale(1.2);
    transition: 0.3s;
}

.addTopicBtn a {
    text-decoration: none;
    color: #fff;
    font-size: 1.1em;
    font-weight: 600;
}

/**** delete button ****/

.delete {
    background-color: #eea154;
    width: 2em;
    height: 2em;
    padding: 0.2em;
    color: #fff;
    border: 0.1em solid #eea154;
    border-radius: 50%;
    cursor: pointer;
}

.delete:hover {
    transform: scale(1.2);
    transition: 0.3s;
}

/**************************************************************** View : addTopicToCategory ****************************************************************/


/**************************************************************** View : addTopicToCategory ****************************************************************/


/**************************************************************** View : addTopicToCategory ****************************************************************/


/**************************************************************** View : addTopicToCategory ****************************************************************/