* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/**************************************************************** General ****************************************************************/

/************************** connexion buttons **************************/
button {
    width: 8em;
    height: 2.5em;
    border: 0.2em solid #FFF5EE;
    border-radius: 15%;
}

button a {
    text-decoration: none;
    color: #333;
    font-size: 1.1em;
    font-weight: 600;
}

button:hover {
    transform: scale(1.2);
}

/************************** Title h1 **************************/
h1 {
    width: 100%;
    padding: 0.3em;
    color: #F28C28;
    font-size: 3em;
}

/**************************************************************** View : Layout ****************************************************************/
.wrapper {
    width: 100%;
}

.mainpage {
    width: 100%;
}

/************************** Header **************************/
header {
    background-color: #F28C28;
    width: 100%;
    padding: 1.3em;
    display: flex;
    flex-direction: row;
    gap: 2em;
}

.logo {
    width: 10%;
    padding: 0.3em;
}

.logo img {
    width: 30%;
}

nav {
    width: 50%;
    padding: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 1.5em;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1.4em;
    font-weight: 300;
}

nav a:hover {
    transform: scale(1.2);

}

.search_bar {
    width: 20%;
    padding: 0.3em;
    display: flex;
    align-items: center;
    justify-content: left;
    position: relative;
}

.search {
    background-color: #FFF5EE;
    width: 60%;
    height: 2em;
    color: #333;
    font-weight: 600;
    border: 0.4em solid #FFF5EE;
    border-radius: 3%;
}

.search_btn {
    background-color: #FFF5EE;
    width: 2em;
    height: 2em;
    border: 0.2em solid #FFF5EE;
    border-radius: 7%;
    position: absolute;
    left: 13em;
}

.connexionButtons {
    width: 20%;
    padding: 0.3em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

/************************** Main **************************/

main {
    background-color: #FFF5EE;
    width: 100%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

/************************** Footer **************************/

footer {
    background-color: #F28C28;
    width: 100%;
    padding: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.logo {
    width: 20%;
}

.legal {
    width: 60%;
    padding: 0.3em;
    color: #fff;
}

.legal p a {
    color: #fff;
    text-decoration: none;
}

.connexionButtonsFooter {
    width: 20%;
    padding: 0.3em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

/**************************************************************** View : Home ****************************************************************/
.hero {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.hero p {
    width: 100%;
    padding: 0 1em;
    color: #000;
    font-size: 1.2em;
}

.heroButtons {
    width: 20%;
    padding: 0.6em 3em;
    display: flex;
    gap: 2em;
}

.home {
    background-color: #F28C28;
}

.home a {
    color: #fff;
}

.recentTopic {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.7em;
}

.recentTopic h2 {
    font-size: 2em;
    text-decoration: underline #F28C28;
}

.topic {
    width: 100%;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topic img {
    width: 50%;
    border: 0.2em solid #FFF5EE;
    border-radius: 5%;
}

.topic article {
    width: 100%;
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

article h3 {
    font-size: 2em;
}

.justify {
    width: 80%;
    line-height: 1.6em;
    text-justify: auto;
}

.topic a {
    text-decoration: none;
    color: #000;
    font-weight: 700;
}

.topic a:hover {
    color: #F28C28;
    transition-duration: 0.4s;
}



/**************************************************************** View : ??? ****************************************************************/